<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />

</head> 
<body>
    <div id ="invertedcursor"></div>
    <div class="sidebar">
        <div class="user-info">
            <div class="circle"></div> 
            <div class="user">User</div>
            <br>
            <div class="content-title">Database</div>
            <div class="content">
                <a href="http://127.0.0.1:5000/flashcards">Flashcards</a>
            </div>
            <br>
            <div class="content-title">Tools</div>
            <div class="content">
                <a href="http://127.0.0.1:5000/chatbot">Chatbot</a>
            </div>
            <div class="content">
                <a href="http://127.0.0.1:5000/">Summarizer</a>
            </div>
        </div>
        </div>

    <div class="main-content">
    <div class="header">Flashcards</div>
    {% if flashcards_list %}
            <div class="text">
                {% for flashcard in flashcards_list %}
                    {% if flashcard['question'] %}
                            {{ flashcard['id'] }}.
                            {{ flashcard['question'] }}
                        <br>
                        <span class="censored" onclick="revealText(this)">
                            {{ flashcard['answer'] }}
                        </span><br>
                    {% endif %}
                        {{ flashcard['id'] }}.
                        Question: {{ flashcard['question'] }}<br>
                        <span class="censored" onclick="revealText(this)">
                        Answer: {{ flashcard['answer'] }}<br>
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    
    </div>
    <script>
        function revealText(element) {
            element.classList.toggle('revealed');
        }
    </script>
</body>
</html>
