<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />

</head> 
<body>
    <div id ="invertedcursor"></div>
    <div class="sidebar">
        <div class="user-info">
            <div class="circle"></div> 
            <div class="user">User</div>
            <br>
            <div class="content-title">stored notes</div>
            <div class="content">
                hello<br>
                bye
            </div>
            <br>
            <div class="content-title">chatbot</div>
            <div class="content">
                hello<br>
                bye
            </div>
        </div>
        </div>

    <div class="main-content">
    <div class="header">Summarizer</div>
    <div class="text">
        Enter your notes below!<br>
        Instructions:<br>
        bal bakl ablala
    </div>
    <form action="/summarize" method="post">
        <textarea name="notes" placeholder="Enter your notes" rows="5"></textarea>
        <div class=word_count>Enter word count: </div><input type="number" name="word_count" placeholder=" "/><br>
        <button type="submit" class="summary-button">Summarize now!</button>
    </form>
    {% if summarizer_result %}
            <div class="text">
                Summary Result:<br>
                {{ summarizer_result }}
            </div>
        {% endif %}

    <div class="text">
        Need help?<br>
        Instructions:<br>
        chatbot
    </div>
    <form action="/summarize" method="POST">
        <textarea name="notes" placeholder="Enter your question" rows="5"></textarea>
        <input name="word_count" />
        <button type="submit" class="summary-button">help</button>
    </form>
    </div>
</body>
</html>
